boto3==1.28.66
faker==19.6.2
jupyter==1.0.0
matplotlib==3.8.0
notebook==7.0.3
pandas==2.1.1
pyspark==3.5.*
ipykernel==6.25.2
pyodbc==5.2.0
loguru==0.7.0
openpyxl==3.1.2
orjson==3.9.7
sqlalchemy==2.0.16
